<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="provider" value="MSSQL"/><!--MSSQL = SQL SERVER, MySQL = MYSQL-->
    <add key="server" value="PAULO-HENRIQUE\SQLEXPRESS"/>
    <add key="database" value="TreinaWeb"/>
    <add key="user" value="sa"/>
    <add key="password" value="Carauari@2021"/>
  </appSettings>
</configuration>